.header-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}
.container {
  display: flex;
  justify-content: center;
}

.avatar-150 {
  height: 150px;
  width: 150px;
}

.header-details{
  justify-content: center;

}
